*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    width: 90%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin: auto auto;
    background-color: rgb(107, 106, 106);
}
h1{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    text-align: center;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
    font-weight: 900;
    color: white;
}
#tarih{
    width: 100%;
    text-align: center;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 700;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    color: white;
}

